<fieldset>
<legend>Novo Usuário</legend>

<%= render 'form' %>
<p align='right'>
<%= tooltip link_to(image_tag("voltar.png", {:border => 0}), users_path), {:tooltip => 'Retornar.'} %>
</p>

</fieldset>
<% content_for :menu, render(:partial => './home/menuADM') -%>
