<%= simple_form_for(@historical_cash) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
  	<table align='center' >
    <tr align="left">
  	  <td><%= f.input :description %></td>
    </tr>
    </table><br>
  	
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
