<p align="center">M贸dulo Operacional</p>
<div id="wrapper-250">
  <ul class="accordion">
	<li id="one" class="files">
      <a href="#one">Cadastros</a>
      <ul class="sub-menu">
	    <li><a href="#">Cadastro1</a></li>
		<li><a href="#">Cadastro2</a></li>
      </ul>
    </li>
	
	<li id="two" class="mail">
      <a href="#two">Relat贸rios</a>
      <ul class="sub-menu">
		<li><a href="#">Relat贸rio1</a></li>
		<li><a href="#">Relat贸rio2</a></li>
      </ul>
    </li>
  </ul>	
</div>
<br>
<hr />


