<ul id="nav">
  <li><a href="#">CADASTRO</a>
    <ul>
	    <li><a href="#">Cadastro</a></li>
	  </ul>
    <div class="clear"></div>
  </li>

  <li><a href="#">RELATÓRIOS</a>
    <ul>
      <li><a href="#">Relatório</a></li>
    </ul>
    <div class="clear"></div>
  </li>

  <li><a href="#">MÓDULO OPERACIONAL</a></li>
</ul>
<div class="clear"></div>

