<p align="center">M칩dulo Administrativo</p>
<div id="wrapper-250">
  <ul class="accordion">
	<li id="one" class="files">
      <a href="#one">Cadastros</a>
      <ul class="sub-menu">
	    <li><%= link_to 'Usu치rios', users_path %></li>
      </ul>
    </li>
	
	<li id="two" class="mail">
      <a href="#two">Relat칩rios</a>
      <ul class="sub-menu">
		<li><%= link_to 'Usu치rios', rel_user_show_path %></li>
      </ul>
    </li>
  </ul>	
</div>

