<p align="center">Módulo Administrativo</p>
<div id="wrapper-250">
  <ul class="accordion">
	<li id="one" class="files">
      <a href="#one">Cadastros</a>
      <ul class="sub-menu">
	    <li><%= link_to 'Usuários', users_path %></li>
	    <li><%= link_to 'Notícias', posts_path %></li>
      </ul>
    </li>
	
	<li id="two" class="mail">
      <a href="#two">Relatórios</a>
      <ul class="sub-menu">
		<li><%= link_to 'Usuários', rel_user_show_path %></li>
      </ul>
    </li>
  </ul>	
</div>
<br>
<hr />

