<%= simple_form_for(@date_cash) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	
  	<table align='center'>
      <tr align="left">
        <td><%= f.input :date_cash, :as => :string, :input_html => { :id => 'date_cash' } %></td>
      </tr>
    </table><br>  
  	
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
