/* application */
fieldset { display: block; } /* In-line para o internet explorer */

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 2px; }
p { margin: 15px 0;}
a img { border: none; }

html, body {height:100%;}

body {
  background:  url(background1.jpg) top center repeat;
  background-attachment: fixed;
  color: #333;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align:center;
}

/* Especificação da página */

#tudo { 
  width:90%;
  position:relative;  /*Contexto de posicionamento */
  margin:0 auto;
  text-align:left;
  min-height:95%;/**/
}
	
* html #tudo {height: 100%;}

#conteudo {padding-bottom:30px;}

#topo {
  margin-top: 10px;
  background: #FFFFFF;
  width:100%;
  height:50px;
  font-size: 16px;
  text-align:center;
  padding-top:2px;
  border: 2px solid #990000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
	
#topo img {
  padding-left: 10px;
}

#block {
  padding: 8px 5px 2px 10px;
  float: left;
}
	
#principal {
  margin-top: 20px;
  margin-bottom: 20px;
  width:75%;
  min-height: 460px; 
  padding-right:20px;
  padding-left:20px;
  float:right;
  padding-top:10px;
  text-align:justify;
  background: #FFFFFF;
  background-image: url(logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #990000;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
	
#auxiliar {
  width:19%;
  float:left;
  padding-top:10px;
  color: red;
}
		
#rodape {
  width:100%;
  height:20px;
  position: absolute;
  bottom: 0; 
  border: 2px solid #990000;
  background-image: url(menu.png);
  text-align:center;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
	
#rodape p {
  margin:0;
  font-weight:bold;
  color:#FFFFFF;
}
	
.clear {clear:both;}

mytooltip {
  border-bottom: 2px dotted green
}

.botao {
   width: 50px;
   height:25px;
   padding:1px;
   border:1px solid #990000;
   font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   font-weight:bold;
   background:#fff;
   background-position: center center;
   background-image: url(search.png);
   background-repeat: no-repeat;
}

fieldset{
  width: 850px;
  margin: 2%;
  text-align: center;
  padding: 10px;
  border: 2px solid #990000;
  background: #E0FFFF;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -moz-opacity:.90;
  opacity:.90;

}

legend {
   text-align: left;	
   border: 2px solid #990000;
   padding: 8px 10px;
   background: #E0FFFF;
   color: red;
   -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table {
  width: 830px;
  border-width: 20px;
  padding:5px;
}

.table th{
  background:#990000;
  border-width: 20px;
  color:#FFFFFF;
  padding:5px;
}

.table td{
  background:#E6E6FA;
  border-width: 20px;
  color:#000000;
}

/* end application */

/* simple_form */

.simple_form label {
	display: block;
}

.simple_form input[type='text']{
	width: 350px;
}

.simple_form input[type='password']{
	width: 350px;
}

.simple_form .select {
  width: 350px;
}

label.collection_radio {
  margin-right: 20px;
  vertical-align: -2px;
  margin-left:   2px;
  font-family: arial, monospace;
  display: inline;
}

.simple_form .error_notification {
 -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  text-align:center;
  margin: 0 auto 15px;
  padding-top: 12px;
  width: 55%;
  height: 30px;
  font: 15px Arial bold;
  color: blue;
  background-color: #fdd;
  background: #CDC9A5 url(error.png) no-repeat 5px center;
}

.simple_form .error {
  clear:   left;
  color:   blue;
  display: block;
  margin-left: 8px;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

/* end simple_form */

/* flash-messages */
.flash .message {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  text-align:center;
  margin: 0 auto 15px;
  width: 50%;
  font: 10px Arial bold;
}

.flash .message p {
  margin:8px;
}

.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
  background: #fcc url(cross.png) no-repeat 5px center;
}

.flash .alert {
  border: 1px solid #fffaaa;
  background-color: #f0f0f0;
  background: #FF3030 url(error.png) no-repeat 5px center;
}

.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
  background: #e2f9e3 url(tick.png) no-repeat 5px center;
}

.atention{
	border: 1px solid #1FDF00;
  background-color: #BBFFB6;
  background: #e2f9e3 url(information.png) no-repeat 5px center;
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  text-align:center;
  margin: 0 auto 15px;
  width: 80%;
  height: 50px;
  font: 16px Arial bold;
  color: red;
  padding-top: 30px;	
}

/*  end flash-messages */

/* *********************************************************************************************

How to Create CSS3 + jQuery Accordion Menu [Tutorial]
"How to Create CSS3 + jQuery Accordion Menu" that was specially made for DesignModo by our friend Valeriu Timbuc. 

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com/futurico
http://vladimirkudinov.com
http://rockablethemes.com

********************************************************************************************* */

/* Reset */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 0 10px 0 40px;
	height: 32px;

	color: #fdfdfd;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background: #6c6e74;
	background: -moz-linear-gradient(top,  #6c6e74 0%, #4b4d51 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6e74), color-stop(100%,#4b4d51));
	background: -webkit-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -o-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: -ms-linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);
	background: linear-gradient(top,  #6c6e74 0%,#4b4d51 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #3e5706;
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	
	/*background: url(../img/active.png) repeat-x;*/
	background: #a5cd4e;
	background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);	
}

.accordion li > a span {
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 10px;
	margin-right: 10px;
	
	font: normal bold 12px/18px Arial, sans-serif;
	background: #404247;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
	color: #fdfdfd;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	background: #3e5706;
}

/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 8px;

	background-repeat: no-repeat;
	background-image: url(icons.png);
	background-position: 0px 0px;
}

.accordion li.files > a:before { background-position: 0px 0px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before,
.accordion li.files > a.active:before { background-position: 0px -24px; }

.accordion li.mail > a:before { background-position: -24px 0px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before,
.accordion li.mail > a.active:before { background-position: -24px -24px; }

.accordion li.cloud > a:before { background-position: -48px 0px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before,
.accordion li.cloud > a.active:before { background-position: -48px -24px; }

.accordion li.sign > a:before { background-position: -72px 0px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before,
.accordion li.sign > a.active:before { background-position: -72px -24px; }

/* Sub Menu */

.sub-menu li a {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #e5e5e5;
	border-bottom: 1px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #efefef; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: transparent;
	border: 1px solid #c9c9c9;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}