<fieldset>
<legend>Relat칩rio de Usu치rios</legend>
<br>
<%= form_tag( {:action => 'rel_user', :format => :pdf}, :method => :post) do %>
  <table align='center'>
  <tr align="center">
  <td>
  <label for="find_campo">Ordenar Por:</label>

  <%= radio_button(:pesquisa, params[:pesquisa], 'id', :checked => true) %>C칩digo
  <%= radio_button(:pesquisa, params[:pesquisa], 'name')%>Nome 
 
  </td>
  </tr>
  </table>

  <br><br>
  <input type='submit' value=' Gerar Relat칩rio ' /><br><br><br>

<% end %>
</fieldset>
<% content_for :menu, render(:partial => './home/menuADM') -%>