<fieldset>
<legend>Gerenciador de Relatórios</legend>

  <table class="table">
  <tr>
    <th>RELATÓRIO</th>
	 <th>DATA / HORA</th>
  </tr>
  <% for report in @reports %>
    <tr>
      <td width="60%" align='center'><%= link_to report.relatorio, :action => :show, :id => report %></td>
	  <td width="40%" align='center'><%=h (report.created_at.strftime("%d/%m/%Y - %H:%M:%S")) %></td>
    </tr>
  <% end %>  
  </table>
  <br><br>

  <p align='right'>
   <%= tooltip link_to(image_tag("voltar.png", {:border => 0}), root_url), {:tooltip => 'Retornar.'} %>
  </p>
</fieldset>
